

@keyframes change-bg {
  0% {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(7, 45, 145, 1) 0%, rgba(0, 212, 255, 1) 100%);
  }

  25% {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(7, 45, 145, 1) 26%, rgba(0, 212, 255, 1) 100%);
  }

  50% {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(7, 45, 145, 1) 50%, rgba(0, 212, 255, 1) 100%);
  }

  75% {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(7, 45, 145, 1) 74%, rgba(0, 212, 255, 1) 100%);
  }

  100% {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(7, 45, 145, 1) 100%, rgba(0, 212, 255, 1) 100%);
  }
}

@keyframes move-ball {
  0% {
    translate: 0 0;
  }

  25% {
    translate: -70px -40px;
    background-color: #f62525;
  }

  50% {
    translate: 80px -60px;
    background-color: #0cf136;
  }

  75% {
    translate: -80px -100px;
    background-color: #0b41e1;
  }

  100% {
    translate: 80px -140px;
    background-color: #ad0afe;
  }
}
@keyframes move-box {
  0% {
    translate: 0 0;
  }

  25% {
    translate: 50px 0;
  }

  50% {
    translate: 50px 50px;
  }

  75% {
    translate: 100px 50px;
  }

  100% {
    translate: 150px 100px;
    ;
  }
}

@keyframes rotate-box {
  0% {
    rotate: 0deg;
  }

  25% {
    rotate: 45deg;
  }

  50% {
    rotate: 90deg;
  }

  75% {
    rotate: 135deg;
  }

  100% {
    rotate: 180deg;
  }
}

@keyframes light {
    0% {
        background-color: #ffffcc;
        box-shadow: 1px 41px 92px 95px rgba(255, 255, 150, 0.7);
    }

    100% {
        background-color: #edede6;
        box-shadow: 1px 41px 92px 95px rgba(64, 64, 56, 0.7);
    }
}

@keyframes receiver {
    0% {
        background-color: #d30909;
        box-shadow: 1px 41px 50px 29px rgba(255, 187, 187, 0.7);
    }

    100% {
        background-color: #100b0b;
        box-shadow: 1px 4px 50px 29px rgba(64, 63, 63, 0.7);
    }
}

@keyframes move {
    0% {
        top: 70%;
        left: 85%;
        scale: 0.5;
    }

    25% {
        top: 50%;
        left: 50%;
        scale: 1;
        rotate: -35deg;
    }


    50% {
        top: 30%;
        left: 30%;
    }

    75% {
        top: 30%;
        left: 30%;
        scale: 1.5;
        rotate: 10deg;
        scale: 1.2;
    }

    100% {
        top: -30%;
        left: -30%;
        scale: 0.7
        ;
    }
}

@keyframes cometa-1 {
    0% {
        top: 20px;
        left: -500px;
    }

    100% {
        top: 450px;
        left: 1500px;
    }
}

@keyframes cometa-2 {
    0% {
        top: 0;
        left: 1250px;
    }

    100% {
        top: 850px;
        left: 100px;
    }
}

@keyframes cometa-3 {
    0% {
        top: 400px;
        left: -150px;
    }

    100% {
        top: 550px;
        left: 1800px;
    }
}

@keyframes stop-blink {
    0% {
        box-shadow: 0 0 20px 10px rgba(255, 255, 150, 0.7);
    }

    50% {
        box-shadow: 0 0 20px 10px rgba(130, 45, 16, 0.7);
    }

    100% {
        box-shadow: 0 0 20px 10px rgba(255, 255, 150, 0.7);
    }
}