@import url("fonts.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");
/* reset */
@import url("reset.css");

header{
    text-align: center;
}
header ul li {
    display: inline-block;
    margin-right: 15px;
    padding: 10px 15px;
    line-height: 125%; 
    font-family: "Quicksand",sans-serif;
    font-size: 24px;
}
header ul li:last-child{
    margin: 0;
}
.container-krovato{
    font-family: "Proxima Nova", sans-serif;
    background-color:rgba(30, 40, 50, 0.05);
    color: #2b2929;
    line-height: 187.5%;/* 30/16 */
    margin-bottom: 50px;
}
.krovato-inner{
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    padding: 20px 15px 30px;
    
}
.krovato-inner h1{
    font-size: 40px;
    line-height: 120%; /* 48/40 */
    font-weight: 700;
    margin-bottom: 40px;
}
.section-top img{
    width: 100%;
    max-width:1070px ;
    border-radius: 8px;
    margin-bottom: 40px;
}
.section-top{
    margin-bottom: 40px;
}
.section-top p{
    margin-bottom: 25px;
}
.section-top .text{
    margin-bottom: 0;
}
.section-bottom h2{
    font-size: 20px;
    line-height: 140%; /* 28/20 */
    margin-bottom: 45px;
    font-weight: 700;
}

.section-bottom ul li{
    padding-left: 50px;
    min-height: 32px;
    margin-bottom: 30px;
    background:url("../img/minimal-img/vector-list.png") 0 0 /32px  no-repeat;

}
.section-bottom .last-item{
    margin-bottom: 0;
}
.section-bottom ul{
    padding-bottom: 50px;
}

/*********Edu**********/
.container-edu{
    font-size: 0;
    background: url("../img/edu-img/bg.jpg") 0 3%/ cover no-repeat;
    margin-bottom: 50px;
}
.inner-edu{
    width: 100%;
    max-width: 1310px;
    padding: 15px 15px;  
    margin: 0 auto;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: #fff;
}
.edu-info{
    display: inline-block;
    max-width: 620px ;
    padding: 121px 0 121px;
    margin-right: 130px;
}
.inner-edu h2{
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 24px;
}
.inner-edu p{
    font-size: 20px;
    line-height: 160%;
    margin-bottom: 24px;
}

.edu-link{
    padding-bottom: 20px;
}
.edu-link a{
    font-weight: 700;
    line-height: 156.25%; 
    font-size: 16px;
    background-color: #fff;
    max-width: 251px;
    border-radius: 8px;
    padding: 12px 20px 12px 50px;
    color: #0d1216;
}

.edu-img{
    display: inline-block;
    width: 100%;
    max-width: 515px;
    padding-left: 40px;
    background:url("../img/edu-img/item3.png") 16px 271px no-repeat, url("../img/edu-img/item2.png")  74px 128px no-repeat, url("../img/edu-img/item1.png") right 67px no-repeat, url("../img/edu-img/fon.png")  19px 55px/100% no-repeat;
}

/*******collection*********/

.collection-container{
    font-family: "Roboto",sans-serif;
    color:#000;
    margin-bottom: 50px;
    background:  url("../img/collection-img/frame2.png") 100% 70% no-repeat ,url("../img/collection-img/frame1.png") 0 90% no-repeat, rgba(30, 40, 50, 0.05) ;
}
.collection-inner{
    width: 100%;
    max-width: 1256px;
    margin: 0 auto 50px;
    padding: 80px 15px 15px;
    text-transform: capitalize;
    font-size: 0;

}
.collection-text{
    display: inline-block;
    vertical-align: middle;
    max-width: 695px;
    padding: 104px 0 120px;
    margin-right: 120px;
    
}
.collection-text h2{
    font-size: 74px;
    font-weight: 300;
    line-height: 74.324324%; 
    margin-bottom: 52px;
}
.collection-text p{
    font-size: 30px;
    font-weight: 400;
    line-height: 183.333333%; 
    margin-bottom: 66px;
    
}

.collection-btn a{
    color: #fff;
    font-size: 29px;
    font-weight: 400;
    width: 223px;
    background-color: #1e2832;
    padding: 19px 26px 19px 64px;
    background-image: url("../img/collection-img/icon.png");
    background-position:  26px 50%;
    background-repeat: no-repeat;
}

.collection-img{
    display: inline-block;
    vertical-align: middle;
    border: 2px solid rgba(0, 0, 0, 0.25); 
    border-radius: 160px 0px; 
    padding-right: 16px;

    
}
.collection-inner img{
    margin-left: -63px;
    margin-top: -20px;
    padding-bottom: 20px;
    width:424px ;
    height: 542px;
    border-radius: 160px 0px; 
 }
.homework{
    padding: 50px 50px;
    font-size: 0;
}
.block-1{
    width: 200px;
    height: 200px;
    border-top:5px dotted red;
    border-left: solid 3px red;
    border-bottom: double 6px red;
    border-right: dashed 4px red;
    display: inline-block;
    margin-right: 10px;

}
.block-2{
    width: 200px;
    height: 200px;
    outline: 4px solid rgb(0, 85, 255);
    display: inline-block;
    margin-right: 10px;
}

.block-3{
    width: 200px;
    height: 200px;
    background: #8bd30f;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.block-4{
    width: 200px;
    height: 200px;
    background: #8bd30f;
    border-radius: 12px 44px 9855px 61px ;
    display: inline-block;
    margin-right: 10px;
}
.block-5{
    width: 200px;
    height: 200px;
    border-radius: 50% 50% 20px 50%;
    display: inline-block;
    outline: 6px solid pink;
    background-image: linear-gradient(20deg, #baabf0 0%, #6e2d64 100%);
}
.block-6{
    width: 200px;
    height: 200px;
    border-radius: 50% 50% 50% 20px;
    display: inline-block;
    outline: 5px dotted rgb(224, 14, 130);
    margin-right: 10px;
    background-image: linear-gradient(20deg, #f2ff3a 0%, #2cd4e3 100%);
    margin-right: 10px;
}
.block-7{
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 1px solid black;
    box-shadow:  78px 57px 18px rgba(18, 20, 15, 0.201);
    margin-right: 100px;
}
.block-8{
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 1px solid black;
    box-shadow:
  3px 1.6px 3.3px rgba(0, 0, 0, 0.014),
  6.5px 3.4px 7.3px rgba(0, 0, 0, 0.018),
  10.9px 5.8px 12.3px rgba(0, 0, 0, 0.02),
  16.5px 8.7px 18.5px rgba(0, 0, 0, 0.023),
  23.8px 12.5px 26.7px rgba(0, 0, 0, 0.026),
  33.7px 17.7px 37.7px rgba(0, 0, 0, 0.031),
  47.8px 25.1px 53.5px rgba(0, 0, 0, 0.037),
  69.4px 36.5px 77.7px rgba(0, 0, 0, 0.046),
  106.9px 56.3px 119.8px rgba(0, 0, 0, 0.056),
  190px 100px 213px rgba(0, 0, 0, 0.07);
    margin-right: 10px;
}


.block-9{
    width: 200px;
    height: 200px;
    background-color: #88de20;
    display: inline-block;
    margin-right: 100px;
    opacity: 0.5;
}
.block-10{
    width: 200px;
    height: 200px;
    display: inline-block;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(33,36,24,1) 100%);
}
.block-11{
    width: 800px;
    height: 400px;
    border: 1px solid black;
    background: url("../img/collection-img/frame1.png") 190px 34% ,url("../img/collection-img/frame2.png") 238px 34% no-repeat, url("../img/collection-img/frame2.png") right 97px no-repeat, url("../img/collection-img/frame2.png") -38px -36px no-repeat, radial-gradient(circle, rgb(148, 200, 216) 0%, rgba(33,36,24,1) 100%);
}